/* Backrooms Incident Template */
body {
  background: #f4f1e8;
  color: #8b7355;
}

.content {
  color: #8b7355;
}

.template-backrooms .glow-base {
  color: #8b7355;
  font-weight: bold;
  text-shadow: 0px 0px 3px #8b7355;
}

.template-backrooms .glow-accent {
  color: #986616;
  text-shadow: 0px 0px 2px #986616;
}
