/* Classified Document Template */
body {
  background: #2b2416;
  color: #ffa500;
}

.content {
  color: #ffa500;
}

.template-classified .glow-base {
  color: #ffa500;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.template-classified .glow-accent {
  color: #ffff00;
  font-weight: bold;
  text-shadow: 0px 0px 8px #ffff00;
}
