/* Cute Cat Response Template */
body {
  background: #ffebeb;
  color: #731c47;
}

.content {
  color: #731c47;
  text-shadow: 0px 0px 1px #731c47;
}

.template-cute_cat .glow-base {
  color: #bb59e8;
  font-weight: bold;
  text-shadow: 0px 0px 1px #bb59e8;
}

.template-cute_cat .glow-accent {
  color: #fd68ce;
  font-weight: bold;
  text-shadow: 0px 0px 1px #fd68ce;
}
