/* Cyberpunk Terminal Template */
body {
  background: #111122;
  color: #00ff00;
}

.content {
  color: #00ff00;
  text-shadow: 0px 0px 2px #00ff00;
}

.template-cyberpunk_terminal .glow-base {
  color: #00ff00;
  font-weight: bold;
  text-shadow: 0px 0px 3px #00ff00;
}

.template-cyberpunk_terminal .glow-accent {
  color: #ff0066;
  font-weight: bold;
  text-shadow: 0px 0px 2px #ff0066;
}
