/* Glitch Reality Template */
body {
  background: #1a0033;
  color: #fd77fd;
}

.content {
  color: #fd77fd;
  text-shadow: 0px 0px 0px #fd77fd;
}

.template-glitch .glow-base {
  color: #00d6d6;
  font-weight: bold;
  text-shadow: 0px 0px 1px #00d6d6;
}

.template-glitch .glow-accent {
  color: #c3377d;
  font-weight: bold;
  text-shadow: 1px 1px 2px #c3377d;
}
