/* Glitch Pixel Art Template */
body {
  background: #0a0014;
  color: #fd77fd;
}

.content {
  color: #fd77fd;
  text-shadow: 0px 0px 8px #fd77fd;
}

.template-glitch_pixelart .glow-base {
  color: #00d6d6;
  font-weight: bold;
  text-shadow: 0px 0px 6px #00d6d6;
}

.template-glitch_pixelart .glow-accent {
  color: #c3377d;
  font-weight: bold;
  text-shadow: 1px 1px 8px #c3377d;
}
