/* Library Archive Template */
body {
  background: #1a1209;
  color: #c4a265;
}

.content {
  color: #c4a265;
}

.template-library .glow-base {
  color: #e8c874;
  font-weight: bold;
  text-shadow: 0px 0px 5px #e8c874;
}

.template-library .glow-accent {
  color: #ff6633;
  font-weight: bold;
  text-shadow: 0px 1px 8px #ff6633;
}
