/* Eldritch Field Notes Template */
body {
  background: #f4e7d7;
  color: #2a0845;
}

.content {
  color: #2a0845;
}

.template-lovecraftian .glow-base {
  color: #2a0845;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.template-lovecraftian .glow-accent {
  color: #843939;
  font-weight: bold;
  text-shadow: 0px 0px 2px #843939;
}
