/* Mystical Sigil Card Template */
body {
  background: #ebe5d9;
  color: #2a2520;
}

.content {
  color: #2a2520;
}

.template-mystical_card .glow-base {
  color: #ab66f0;
  font-weight: bold;
  text-shadow: 0px 0px 1px #ab66f0;
}

.template-mystical_card .glow-accent {
  color: #3d115a;
  font-weight: bold;
  text-shadow: 0px 0px 2px #3d115a;
}
