/* Paranormal Activity Log Template */
body {
  background: #0d0015;
  color: #d194ff;
}

.content {
  color: #d194ff;
}

.template-paranormal .glow-base {
  color: #fee0ff;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.template-paranormal .glow-accent {
  color: #ff7575;
  font-weight: bold;
  text-shadow: 0px 0px 8px #ff7575;
}
