/* Quantum Dreamscape Template */
body {
  background: #1a1a1a;
  color: #d4d4d4;
}

.content {
  color: #d4d4d4;
}

.template-quantum_dreamscape .glow-base {
  color: #87ceeb;
  font-weight: bold;
  text-shadow: 0px 0px 3px #87ceeb;
}

.template-quantum_dreamscape .glow-accent {
  color: #ff69b4;
  font-weight: bold;
  text-shadow: 0px 0px 2px #ff69b4;
}
