/* Sacred Codex Template */
body {
  background: #1a1510;
  color: #d4af37;
}

.content {
  color: #d4af37;
  text-shadow: 0px 0px 0px #d4af37;
}

.template-sacred .glow-base {
  color: #ffd700;
  font-weight: bold;
  text-shadow: 0px 0px 2px #ffd700;
}

.template-sacred .glow-accent {
  color: #dc143c;
  font-weight: bold;
  text-shadow: 0px 0px 2px #dc143c;
}
