/* Spectrum Chromatic Template */
body {
  background: #141414;
  color: #00ffff;
}

.content {
  color: #00ffff;
  text-shadow: 0px 0px 3px #00ffff;
}

.template-spectrum_chromatic .glow-base {
  color: #ff52ff;
  font-weight: bold;
  text-shadow: 0px 0px 3px #ff52ff;
}

.template-spectrum_chromatic .glow-accent {
  color: #ffff00;
  font-weight: bold;
  text-shadow: 0px 0px 3px #ffff00;
}
