/* Terminal Output Template */
body {
  background: #282c34;
  color: #abb2bf;
}

.content {
  color: #abb2bf;
}

.template-terminal .glow-base {
  color: #61afef;
}

.template-terminal .glow-accent {
  color: #e06c75;
}
