/* Void Station Telemetry Template */
body {
  background: #000000;
  color: #ffffff;
}

.content {
  color: #ffffff;
}

.template-void .glow-base {
  color: #808080;
  font-weight: bold;
  text-shadow: 0px 0px 5px #808080;
}

.template-void .glow-accent {
  color: #bac4f7;
  font-weight: bold;
  text-shadow: 0px 0px 8px #bac4f7;
}
